extends layout
  
block content
  h1= title

  div(class="messages", id="messages")
    - var i=0
    each row in rows
      - i=i+1
      img(name="image" id="#{i}" src="../images/#{row.name_temp}" title="#{row.name_orig}" height="100")
  br
  a(href='/')='Назад'

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='http://#{config.io.host}:#{config.io.port}/socket.io/socket.io.js')
  script(src='/javascripts/show.js')
  script(type='text/javascript').
    $(document).ready(show('#{config.io.host}', #{config.io.port}, #{config.img.count}, #{rows.length}));